{% extends 'base.html' %}
{% block content %}

<div class="container">
    <form method="post" action="">
        {% csrf_token %}
        이름 : {{ form.name }}<br>
        번호 : {{ form.phone }}<br>
        {% if validation %}
        <span style="color:red">{{ validation }}</span><br>
        {% endif %}
        내용 : {{ form.content }}<br>
        출생일 : {{ form.birth }}<br>
        주소 : {{ form.address }} <br>
        개통번호 : {{ form.phone }}<br>
        대리인 : {{ form.agent }}<br>
        대리인 전화번호 : {{ form.agent_phone }}<br>
        상품명/요금제 : {{ form.call_plane }}<br>
        가입일 : {{ form.joining_date }}<br>
        구분 : {{ form.division }}<br>
        비고1 : {{ form.note1 }}<br>
        비고2 : {{ form.note2 }}<br>
        비고3 : {{ form.note3 }}<br>
        등록일 : {{ form.registration_date }}<br>


        <button type="submit" style="border:1px solid black">수정 완료</button>
    </form>
</div>

{% endblock %}