{% extends 'base.html' %}
{% block content %}

<div class="container-fluid pt-5">
    <h1 class="text-center" id="name">{{ client.name }}</h1>
    <h3 class="text-center" id="phone">{{ client.phone }}</h3>
    <p class="text-center" id="content">
        {% if client.business.name == "휴대폰" %}
        <table border="1">
            <tr>
                <td colspan="1">사업 종류</td>
                <td colspan="1">{{ client.business.name }}</td>
            </tr>
            <tr>
                <td>주민등록번호</td>
                <td>{{ client.resident_registration_number }}</td>
            </tr>
            <tr>
                <td>출생일</td>
                <td>{{ client.birth }}</td>
            </tr>
            <tr>
                <td>주소</td>
                <td>{{ client.address }}</td>
            </tr>
            <tr>
                <td>개통번호</td>
                <td>{{ client.phone }}</td>
            </tr>
            <tr>
                <td>대리인</td>
                <td>{{ client.agent }}</td>
            </tr>
            <tr>
                <td>대리인 전화번호</td>
                <td>{{ client.agent_phone }}</td>
            </tr>
            <tr>
                <td>가입일</td>
                <td>{{ client.joining_date }}</td>
            </tr>
            <tr>
                <td>구분</td>
                <td>{{ client.division }}</td>
            </tr>
            <tr>
                <td>비고1</td>
                <td>{{ client.note1 }}</td>
            </tr>
            <tr>
                <td>비고2</td>
                <td>{{ client.note2 }}</td>
            </tr>
            <tr>
                <td>비고3</td>
                <td>{{ client.note3 }}</td>
            </tr>
            <tr>
                <td>등록일</td>
                <td>{{ client.registration_date }}</td>
            </tr>
        </table>
        {% else %}
        {{ client.content }}
        {% endif %}
    </p>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="mt-5" style="border:1px solid black; border-radius:20px;">
                <a class="text-center" href="{% url 'client:client_edit' client.phone %}"><h3 class="m-0">수정하기</h3></a>
            </div>
            <div class="mt-2" style="border:1px solid black; border-radius:20px;">
                <a class="text-center" href="{% url 'client:client_list' %}"><h3 class="m-0">LIST 보기</h3></a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}