{% extends 'base.html' %}
{% block content %}

<style>
    body {
        height:100vh;
        border:1px solid black;
        margin:0;
        padding:0
    }
</style>
<div class="container">
    {% for i in clients %}
    <a href="{% url 'client:client_detail' i.phone %}">
        <div class="row py-3" style="border-bottom:1px solid black">
            <div class="col-3 text-center" style="border-right:1px solid black">
                {{ i.name }}
            </div>
            <div class="col-9">
                {{ i.phone }}
            </div>
        </div>
    </a>
    {% endfor %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="mt-5" style="border:1px solid black; border-radius:20px;">
                <a class="text-center" href="{% url 'client:client_new' %}"><h3 class="m-0">새로 추가하기</h3></a>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>


{% endblock %}